{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container"> 
    <div class="m-2 mx-5 bg-white">
        <h3 class="bg-primary rounded-3 text-light px-2"> Browse Stories</h3>
        <hr>
        <div>
            <a class="p-2"  href="{% url 'home'%}">All</a>
        </div>
        {% for topic in topics %}

            <div>
                <a class="p-2" chref="{% url 'home'%}?q={{topic.name}}">{{topic.name}}</a>
            </div>

        {% endfor %}

    </div>

    <div class="m-2 mx-5 bg-white">
        <h5 class="bg-primary rounded-3 text-light px-2"> {{mystorys_count}} mystory available</h5>
        <a class="p-2" href="{% url 'create-room'    %}"> Create new story </a>
        <div class="m-5">
            {% for mystory in mystorys %}
    
    
            <div> 
                {% if request.user == mystory.host %}
                <a class="link-primary m-2  fs-5" href="{% url 'update-room' mystory.id %}"> Edit </a>
                <a class="link-primary m-2  fs-5" href="{% url 'delete-room' mystory.id %}"> Delete </a>
                {% endif %}
                <h4> {{mystory.host.first_name}} {{mystory.host.last_name}}</h4>
                <h4><span> @{{mystory.host.username}}</span></h4>
                
                <h5>{{mystorys.id}} -- <a href="{% url 'mystory' mystory.id %}"> {{mystory.title}} </a></h5>
              
                <small> {{mystory.topic.title}}</small>
                
                
                <hr/>
            </div>
    
            {% endfor %}
        </div>

    </div>

</div>


{% endblock content %}
