{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    @media screen and (max-width: 1000px) {
      .home-container {
        position: relative;
        width: auto;
        bottom: 0; 
        margin-left: 10px;
        display: block;

      } 

      
    }
    .card-body{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 2rem;
        margin: 5px;
        
    }
    @media screen and (max-width: 1000px) {
      .card-body {
        position: relative;
        width: auto;
        bottom: 0; 
        margin-left: 10px;
        display: block;
      } 
      .card-body .card{
        margin: 20px;
      }
    }

</style>
<section></section>



<div class="home-container"> 
    
    <div class="m-2 mx-5 bg-white">
        <div class="sides">
            <h6 class="text-white bg-primary fw-bold font-italic m-0 p-2 px-2" > Stories </h6>
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white  rounded-3 p-3 mb-4 ">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4 ">
                    <a href="{% url 'home'%}" class="list-group-item list-group-item-action py-2 bg-light text-dark ripple active">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span> All </span>
                    </a>
                    {% for topic in topics %}
                    <a href="{% url 'home'%}?q={{category.name}}" class="list-group-item list-group-item-action py-2 ripple"
                        ><i class="fas fa-lock fa-fw me-3"></i><span>{{topic.name}}</span></a
                    >
                    {% endfor %}
                    </div>
                </div>
                </nav>
        </div>
       
                  <!-- Sidebar -->


    </div>
    <div class="card">
        <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <form method="get" action="{%url 'home'%}">
                  <input type="text" name = "q" class="form-control rounded-3  " placeholder="search" aria-label="Recipient's username" aria-describedby="basic-addon2">
              </form>
              <h5 class="bg-light text-primary rounded-3 text-dark px-2 py-2 d-flex justify-content-center ">{{mystorys_count}} mystory(s) available</h5>
              </nav>
            </div>
          </div>
        <div class="card-body">
            {% for mystory in mystorys %} 
                <div class="card text-center ">
                    <div class="card-header">
                        <h6 class="card-title"><span> @{{mystory.host.username}}</span></h6>
                        <h5 class="card-title"><a href="{% url 'mystory' mystory.id %}"> {{mystory.title}} </a></h5>
    
                    </div>
                    <div class="card-header bg-white">
                        <img class="img-fluid" src="#" style="height: 100px; " alt="The List"> 
                    </div>
                    
                    <div class="card-bodys">
                        <p class="card-text">{{mystory.description}}</p>                       
                    </div>
                    <div class="card-footer text-muted ">
                        <a href="{% url 'mystory' mystory.id %}" class="btn btn-warning"> Read ...</a>
                        {% if request.user == product.host %}
                        <a class="link-primary m-2 " href="{% url 'update-story' product.id %}"> Edit </a>
                        <a class="link-primary m-2 " href="{% url 'delete-story' product.id %}"> Delete </a>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <div class="board-trend">
        <div class="m-2">
            <h6 class="text-white bg-primary fw-bold font-italic m-0 p-2 px-2" > Trending  </h6>
        </div>
        
    </div>

</div>


{% endblock content %}
