{% extends 'main.html' %}

{% block content%}
<section>
    <div class="container pt-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="#" class="btn btn-dark my-3"> Go Back </a>
                <div class="card">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
    
                        <div class="form-group m-3">
                            <label> series Name </label>
                            <input required name="series_name" type="text" class="form-control" placeholder=" Enter product name">
    
                        </div>
    
     
                        <div class="form-group m-3">
                            <label> select a category </label>
    
                            <select name="ategory" class="form-control" id="">
                                <option value="none"> select a category ... </option>
                                {% for category in categories %}
                                <option value="{{category.id}}"> {{category.name}}</option>
                                {% endfor %}
    
                            </select>   
                        </div>
    
    
                        <div class="form-group m-3">
                            <label> create new category </label>
                            <input  name="category_new" type="text" class="form-control" placeholder=" create a new category">
                            
                        </div>
    
                        <button type="submit" class="btn btn-primary m-3"> Submit</button>
    
                    </form>
                </div>
                
            </div>
    
        </div>
    </div>
</section>

{% endblock %}