
<nav class="navbar navbar-expand-lg navbar-danger bg-white rounded-top mx-5 px-5 mt-2">

    <a class="navbar-brand fs-3 fw-bold" href="/">My story</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-primary fw-bold" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary fw-bold" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary fw-bold" href="#">About us</a>
              </li>
        </ul>
        <div class="mx-2 fw-bold">
          <!-- Button trigger modal -->
            <button class="btn btn-sm btn-outline-success btn-pill transition-3d-hover fw-bold px-2 p-2 mx-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Create new story
            </button>

            <!-- Modal -->
            <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content bg-light">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Select Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body  text-center">

                    <div class="display-flex">
                      <a class="btn  btn-outline-success transition-3d-hover fw-bold px-2 p-2 mx-5" href="{% url 'create-story' %}"> Single </a>
                      <a class="btn  btn-outline-success transition-3d-hover fw-bold px-2 p-2 mx-5" href="{% url 'create-series' %}"> series </a>
                    </div>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>
        </div>
        
        {% if request.user.is_authenticated %}

        <p> {{request.user}} </p>
        
        
        <a href="{% url 'logout' %}" class="nav-link link-primary m-2  fs-5"> Logout </a>
        
        {% else %}
        
        <a href="{% url 'login' %}" class="nav-link link-primary m-2 fw-bold fs-5 rounded-3"> Login</a>
        <a href="{% url 'login' %}" class="nav-link link-primary m-2 fw-bold fs-5 rounded-3"> Signup</a>
        
        {% endif%}
      </div>



    </div>

</nav>


<hr>
